@page "/"
@rendermode InteractiveServer

<div class="row">
    <div class="input-group mb-3">
        <InputFile OnChange="OnFilesChangedAsync" @key="@_fileUploadKey"
                   class="form-control form-control-lg" accept=".jpg,.jpeg,.png,.gif" multiple />
    </div>
</div>

@if (_isUploading)
{
    <div class="d-flex align-items-center">
        <strong role="status">Loading...</strong>
        <div class="spinner-border ms-auto" aria-hidden="true"></div>
    </div>
}

@foreach (var images in _images.OrderBy(i => i.ImageUrl).Chunk(5))
{
    <div class="row">
        @foreach (var image in images)
        {
            <div class="col mb-4">
                <img src="@image.ThumbnailUrl" class="img-fluid img-thumbnail card-link" alt="Image"
                     onclick=@(() => PreviewImage(@image.ImageUrl)) />
            </div>
        }
    </div>
}

<Modal Display="@_isDialogOpen" Title="@(_dialogMessage is "" ? "Preview" : "Message")" OnClose="(() => _isDialogOpen = false)">
    <BodyContent>
        @if (string.IsNullOrEmpty(_dialogMessage))
        {
            <p>@_dialogMessage</p>
        }
        else
        {
            <img src="@_selectedImage" class="img-fluid" alt="Preview image">
        }
    </BodyContent>
</Modal>
